<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :advertiser_name %>
      <%= form.text_field :advertiser_name, class: 'form-control' %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :url %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= form.label :starts_at %>
    <div class="form-row">
      <%= form.date_select :starts_at, {}, class: 'form-control col-md-2' %>
    </di>
  </div>

  <div class="form-group">
    <%= form.label :ends_at %>
    <div class="form-row">
      <%= form.date_select :ends_at, {}, class: 'form-control col-md-2' %>
    </div>
  </div>

  <div class="form-group form-check">
    <%= form.label :premium %>
    <%= form.check_box :premium %>
  </div>
  
  <%= form.submit class: 'btn btn-primary' %>
<% end %>

