<div class="container">
  <% if notice.present? %>
    <p class="alert alert-success"><%= notice %></p> 
  <% end %>

  <h1>Offers</h1>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Url</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <th scope="row" ><%= offer.id %></th>
          <td><%= offer.advertiser_name %></td>
          <td><%= offer.url %></td>
          <td><%= offer.state ? 'Enabled' : 'Disabled' %></td>
          <td>
            <%= link_to 'Edit', edit_offer_path(offer), class: 'badge badge-info' %>
            <%if offer.state %>
              <%= link_to 'Disable', offer_state_path(offer), class: 'badge badge-warning' %>
            <% else %>
              <%= link_to 'Enable', offer_state_path(offer), class: 'badge badge-success' %>
            <% end %>
            <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Offer', new_offer_path, class: 'btn btn-primary' %>
</div>